# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# Set values specific to:
#   salt['config.get']('os_family') == RedHat.
#
# You just need to add the key:values for this `os_family` that differ
# from `defaults.yaml` + `<osarch>.yaml`.
#
# If you do not need to provide defaults via the `os_family` config,
# you can remove this file or provide at least an empty dict, e.g.
# values: {}
---
values:
  pkg:
    download_sig: ''
    download_uri: ''
    name: 'packages-microsoft-prod'
    {%- if salt['grains.get']('osmajorrelease') | int == 8 %}
    repository_uri: 'https://packages.microsoft.com/config/rhel/8/packages-microsoft-prod.rpm'
    {%- elif salt['grains.get']('osmajorrelease') | int == 9 %}
    repository_uri: 'https://packages.microsoft.com/config/rhel/9/packages-microsoft-prod.rpm'
    {%- else %}
    repository_uri: ''
    {%- endif %}
  config: /etc/powershell-7.conf
...
